<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.settingsbuttonsprefs</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Right Side Buttons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.settingsbuttonsprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>rightButtonStyle</string>
			<key>label</key>
			<string>Right Button Style</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Respring, SafeMode, DarkMode</string>
				<string>Respring, SafeMode, ldrestart</string>
				<string>Respring, ldrestart, DarkMode</string>
				<string>Respring, FlashLight, DarkMode</string>
				<string>Respring, FlashLight, SafeMode</string>
			</array>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Left Side Buttons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.settingsbuttonsprefs</string>
			<key>key</key>
			<string>enableLeftButtons</string>
			<key>label</key>
			<string>Enable Left Side Buttons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.settingsbuttonsprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>leftButtonStyle</string>
			<key>label</key>
			<string>Left Button Style</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>LowPower, ldrestart, FlashLight</string>
				<string>DarkMode, LowPower, FlashLight</string>
				<string>SafeMode, Low Power, FlashLight</string>
				<string>SafeMode, LowPower, ldrestart</string>
				<string>DarkMode, LowPower, ldrestart</string>
			</array>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>3</string>
			<key>defaults</key>
			<string>com.nahtedetihw.settingsbuttonsprefs</string>
			<key>key</key>
			<string>colorStyle</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Custom</string>
			</array>
			<key>alignment</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dark Mode Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.settingsbuttonsprefs.color</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Tint Color</string>
			<key>key</key>
			<string>tintColorDark</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs.color/changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.settingsbuttonsprefs.color</string>
				<key>fallback</key>
				<string>#000000</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Background Color</string>
			<key>key</key>
			<string>backgroundColorDark</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs.color/changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Light Mode Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.settingsbuttonsprefs.color</string>
				<key>fallback</key>
				<string>#000000</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Tint Color</string>
			<key>key</key>
			<string>tintColorLight</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs.color/changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.nahtedetihw.settingsbuttonsprefs.color</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Background Color</string>
			<key>key</key>
			<string>backgroundColorLight</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.settingsbuttonsprefs.color/changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>ETHN</string>
			<key>user</key>
			<string>EthanWhited</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>SettingsButtons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2021 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
